extends layout
block content
  <br/>
  <h2> !{title} </h2>
  <br/>
  <p>
    <a href='/import' class='btn btn-primary' id='importdata' style='margin-right: 5px'> Import CSV</a>
    <a href='/fetchdata' class='btn btn-primary' id='fetchdata' style='margin-right: 5px'> Load data</a>
    <a href='/export' class='btn btn-primary' style='margin-right: 5px'> Export CSV</a>
    <a href='/create-form' class='btn btn-primary'> Create</a>
  <br/>
  p#message.alert.alert-success(style='display:none')
  <br/>
  table.table.table-bordered
    </thead>
      <tr>
        <th>Distance</th>
        <th>Consume</th>
        <th>Speed</th>
        <th>Temp_inside</th>
      </tr>
    tbody#trdata
      each val, key in data
        <tr>
          <th> !{val.distance}</th>
          <th> !{val.consume}</th>
          <th> !{val.speed}</th>	
          <th style='width: 250px'> !{val.temp_inside}
          - var hrefEdit = '/edit/' + val._id;
          - var hrefDelete = '/delete/' + val._id;
          <a href=!{hrefEdit} class='btn btn-primary' id='importdata' style='margin: 0 10px; background-color: #008080'> Edit</a>
          <a href=!{hrefDelete} class='btn btn-primary' id='importdata' style='margin: 0 10px; background-color: #FF0000'> Delete</a>
          </th>
        </tr>